.App {
  text-align: center;
}

input.Chat {
  position: fixed;
  right: 0%;
  bottom: 62px;
}

button.Chatsend{
  position: fixed;
  right: 110px;
  bottom: 41px;


}

button.Chatread{

  position: fixed;
    right: 0%;
    bottom: 41px;
  
}

textarea.Chat{
  position: fixed;
  bottom: 0rem;
  right: 0%;

  border: 2px groove lightslategray;
  padding: 3px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
